

<%= simple_form_for [@user, @room] do |f| %>
  <%= f.input :name, label: 'Nome' %>
  <%= f.input :description, label: 'Descrição' %>
  <%= f.input :price, label: 'Preço' %>
  <div>
    <br>
      <h4> Faz entrega?:</h4>
        <%= f.input :secretary, as: :boolean, label: 'Entregamos!!' %>
        <%= f.input :psychology_couch, as: :boolean, label: 'Amigo, só vir buscar, facinho!!' %>
  </div>
  <br>
  <%= f.input :photos, as: :attachinary, label: 'Fotos' %>
  <%= f.submit "Avançar", class: 'btn btn-primary', align: 'right' %>
<% end%>




