<div class="banner" style="background-image: linear-gradient(-225deg, rgba(150,168,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path('banner.jpeg') %>');">
  <div class="banner-content-home">

    <div class="banner-title-home">
      <h2>De Brasileiro para Brasileiro</h2>
      <p>Rápido e fácil</p>
    </div>

    <div class="banner-form-home">
      <%= form_tag rooms_path, method: :get, class: "form-inline" do %>
      <%= text_field_tag "address", nil, placeholder: "Informe o local...", class: "form-control", id: "address" %>
      <%= select_tag(:type, options_for_select(['Comidinhas', 'Produtos do Brasil', 'Serviços', 'Câmbio', 'Aluguel', 'Doações', 'Venda de garagem']), class: "form-control") %>
        <%= button_tag :submit, class: "btn btn-success" do %>
        Buscar
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<script>
  function initAutocomplete() {
    // Create the autocomplete object, restricting the search to geographical
    // location types.
    var autocomplete = new google.maps.places.Autocomplete(document.getElementById('address'), { types: ['geocode'] });

    // When the user selects an address from the dropdown, populate the address
    // fields in the form.
    // autocomplete.addListener('place_changed', fillInAddress);
  }
</script>
